<h1>Purchases</h1>


<a href="/purchases/add">Add Purchases</a>
<table class="table">
 <tr>
   <td> 
    ProductName
   </td>

  <td> 
    SupplierName
  </td>

  <td> 
    Quantity
  </td>

  <td> 
    Total_Cost
  </td>

 </tr>
{{#products}}
 <tr>
  <td>
    {{ProductName}}
  </td>

  <td>
    {{SupplierName}}
  </td>

  <td>
    {{Quantity}}
  </td>

   <td>
    {{Total_Cost}}
   </td>

  <td>
   <a href="/purchases/edit/{{Id}}">Edit</a>
   </td>
  <td>
   <a href="/purchases/delete/{{Id}}">Delete</a>
  </td>
 </tr>
{{/products}}
</table>
