
<html>
<head>
  <title>Edit product</title>
</head>

<body>
   <h1>Edit product</h1>

	<form action="/products/edit/{{product.id}}" method="post">

	  	<select name="categoryId">
        {{#categories}}
          {{^selected}}
          <option value="{{id}}">{{name}}</option>
          {{/selected}}
          {{#selected}}
           <option value="{{id}}">{{name}}</option>
           {{/selected}}
         
        {{/categories}}
 	</select>
		 <input type="text" name="product" placeholder="Edit product" value="{{product.name}}"/>	
		 <input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>